<div class="container" ng-Init="listClients()">
  <div class="success-alert">
    Cambios guardados correctamente
  </div>
  <div class="create-edit">
    <div class="modifications">
      <h3>Registrar cliente</h3>
      <input
        placeholder="Documento"
        name="documento"
        [(ngModel)]="formulario.documento"
      />
      <input
        placeholder="Nombre"
        name="nombre"
        [(ngModel)]="formulario.nombre"
      />
      <input
        placeholder="Apellido"
        name="apellido"
        [(ngModel)]="formulario.apellido"
      />
      <input
        type="date"
        placeholder="Fecha de nacimiento"
        name="fecha_nac"
        [(ngModel)]="formulario.fecha_nac"
      />
      <input
        placeholder="Direccion"
        name="direccion"
        [(ngModel)]="formulario.direccion"
      />
      <input
        placeholder="Telefono"
        name="telefono"
        [(ngModel)]="formulario.telefono"
      />
      <button class="btn-green" (click)="onSaveClient()">Registrar</button>
    </div>
    <div class="modifications" id="editOrDelete">
      <h3>Administrar clientes</h3>
      <input
      placeholder="Documento"
      name="documento"
      [(ngModel)]="currentClient.documento"
    />
    <input
      placeholder="Nombre"
      name="nombre"
      [(ngModel)]="currentClient.nombre"
    />
    <input
      placeholder="Apellido"
      name="apellido"
      [(ngModel)]="currentClient.apellido"
    />
    <input
      type="date"
      placeholder="Fecha de nacimiento"
      name="fecha_nac"
      [(ngModel)]="currentClient.fecha_nac"
    />
    <input
      placeholder="Direccion"
      name="direccion"
      [(ngModel)]="currentClient.direccion"
    />
    <input
      placeholder="Telefono"
      name="telefono"
      [(ngModel)]="currentClient.telefono"
    />
    <div class="button-container">
      <button class="btn-green" (click)="onEditClient()">Editar</button>
      <button class="btn-red" (click)="deleteClient()">Eliminar</button>
      <button class="btn-grey" (click)="hideEditOrDelete()">Ocultar</button>
    </div>

    </div>
    
  </div>
  <div class="error-alert">
    Ha ocurrido un error
  </div>
  <div class="create-edit">
    <div class="list" >
      <ul class="clientList" id="clientList">
        <li 
        *ngFor="let client of clientes"
        (click) = "selectClient(client)"
        >
          ID: {{client.id}} - Nombre: {{client.nombre}} {{client.apellido}} 
        </li>
      </ul>
    </div>
  </div>

  <button routerLink="" class="btn-red">Volver</button>
</div>
<div class="spacer"></div>